Form {
  background-color: rgb(218, 215, 212);
  color: #000;
  margin: 10px;
  padding: 30px;
  width: 97%;
}
input {
  width: 80%;
  padding: 9px 10px;
  margin: 1px 0;
  box-sizing: border-box;
}

input[type="text"] {
  width: 100%;
  height: 10rem;
  padding: 12px 20px;
  margin: 18px 0;
  box-sizing: border-box;
}
.contact-div {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.conect-p {
  font-size: x-large;
  font-weight: bolder;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: oblique;
  padding: 2rem;
}
