.main-work {
  margin: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

/* .work-header,
.main-work {
  display: block;
  justify-content: center;
  align-items: center;
} */
/* .work-header {
  font-size: x-large;
  display: flex;
  align-items: center;
} */
/* .work-h1 {
  font-size: 3rem;
  font-weight: bolder;
  margin: 30px;
  padding: 20px;
  
} */

.iframe2 {
  margin: 30px;
  width: 70%;
  height: 38rem;
}
