/* style nav rembere to import bootsrap */
.navbar{
  
  background-color: aquamarine;
  width: 100%;
  transition: 0.6s;
  padding: 5px 60px;
  display: flex;
  align-items: center;
  justify-content: center;

}

ul{
  display: inline-block;
    list-style: none;
}

.ul-li{
    font-weight: 800;
    font-size: 1.5rem;
  display: flex;
  justify-content: end;
  align-items:flex-end;
  font-family: cursive;
    left: 200px;
    top: 0;
    /* display: inline-block; */
    list-style: none;
}